<div id="nav-wrapper" class="d-flex flex-column align-items-center min-vh-100 h-100 ">
    <nav class="nav nav-pills flex-column align-items-center navbar-dark">
        <ul class="navbar-nav">
            <li>
                <a [routerLink]="['/dashboard']" [routerLinkActive]="['active']" class="nav-link align-middle p-3">
                    <mat-icon svgIcon="line-chart"></mat-icon>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li>
                <a [routerLink]="['/user-account']" [routerLinkActive]="['active']" class="nav-link align-middle p-3 d-none">
                    <mat-icon svgIcon="user"></mat-icon>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li>
                <a [routerLink]="['/settings']" [routerLinkActive]="['active']" class="nav-link align-middle p-3 d-none" href="#">
                    <mat-icon svgIcon="settings"></mat-icon>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li>
                <a [routerLink]="['/contact']" [routerLinkActive]="['active']" class="nav-link align-middle p-3 d-none">
                    <mat-icon svgIcon="call"></mat-icon>
                </a>
            </li>
        </ul>
    </nav>
</div>