<div class="col-auto d-block d-lg-none">
    <lhyfe-nav-bar-component></lhyfe-nav-bar-component>
</div>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto d-none d-lg-block">
            <lhyfe-nav-component></lhyfe-nav-component>
        </div>
        <div class="col">
            <lib-lhyfe-banner i18n-title title="Personal space" i18n-description description="My Container Status Dashboard"></lib-lhyfe-banner>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>