<div class="col-auto d-block d-lg-none">
    <lib-lhyfe-navbar [navBarLinks]="navBarLinks"></lib-lhyfe-navbar>
</div>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto d-none d-lg-block">
            <lib-lhyfe-nav [navLinks]="navLinks"></lib-lhyfe-nav>
        </div>
        <div class="col">
            <lib-lhyfe-banner i18n-title title="Personal space" i18n-description description="My Container Status Dashboard"></lib-lhyfe-banner>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>